<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule Zoom Meeting</title>
</head>
<body>
<div class="container">
    <h2>Welcome to Zoom</h2>
    <div class="button-container">
        <form th:action="@{/meeting-controller/scheduleMeeting}" th:object="${meeting}" method="post">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" th:field="*{title}"><br>
            <label for="datetime">Date and Time:</label><br>
            <input type="datetime-local" id="datetime" name="datetime" th:field="*{dateTime}"><br>
            <label for="invitees">Invitees:</label><br>
            <input type="text" id="invitees" name="invitees" th:field="*{invitees}"><br>
            <label for="session">Custom Meeting Session:</label><br>
            <input type="text" id="session" name="session" th:field="*{session}"><br><br>
            <label for="duration">Duration (minutes):</label><br>
            <input type="number" id="duration" name="duration" th:field="*{duration}"><br><br>
            <button type="submit">Schedule Meeting</button>
        </form>
    </div>
</div>

    <div>
        <form th:action="@{/userDashboard}">
            <button type="button">Cancel</button>
        </form>
    </div>
</body>
</html>
